objeto= FormulariosController < ApplicationController.new()
form= objeto.new()


<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
  </head>
  <body>
    <ul> <il> form </il></ul>
  </body>
</html>